:root {
    
    --playful-bg-color: #fddbdc;
    --playful-bg-color-lighter: #fceced;
    --playful-blue-color: #0d3af5;
    --playful-red-color: #f14b57;
    --black-color: #000000;
    --playful-green-color: #4bc540;
    --error-color: #ff0000;
    --playful-yellow-color: #f5f542;
}

body {
    color: var(--playful-blue-color);
}

.playlist-item {
    color: var(--playful-blue-color);
    text-align: left;
    background-color: var(--playful-bg-color);
    overflow: hidden;
    padding: 0.3em;
}

.img-thumbnail {
    height: 3em;
    width: 3em;
}

span {
    font-size: 1em;
    padding-left: 1em;
}

* {
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

#menu {
    position: fixed;
    bottom: 0px;
    display: none; /* Initially hidden */
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

.playbutton {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--playful-green-color);
    border: 5px solid var(--playful-bg-color);
    color: var(--playful-bg-color);
    padding: 10px 20px;
    border-radius: 50px;
    transition: transform 0.3s, background-color 0.3s;
}

.playbutton:hover {
    background-color: var(--playful-green-color);
    transform: scale(1.1);
}

.playbutton:active {
    transform: scale(0.9);
}

.playlist-item:hover {
    background-color: var(--playful-bg-color-lighter);
    cursor: pointer;
}

.playlist-item.selected {
    background-color: var(--playful-red-color);
    color: var(--playful-bg-color);
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.modal-content {
  background-color: var(--playful-bg-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--playful-blue-color);
  width: 80%;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.close {
  color: var(--playful-red-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--black-color);
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.form-control {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid var(--playful-blue-color);
  border-radius: 5px;
}

.btn-success {
    width:150px;
    font-size: 20px;
    background-color: var(--playful-green-color);
    border: 5px solid var(--playful-bg-color);
    color: var(--playful-bg-color);
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-success:hover {
  background-color: var(--playful-green-color);
  transform: scale(1.1);
}

.btn-success:active {
  transform: scale(0.9);
}

.start-button:hover {
    background-color: var(--playful-green-color);
    transform: scale(1.1);

    color: white;
  }
  
  .start-button:active {
    transform: scale(0.9);
    color: white;
  }

/* Add styles for the delete button */
.delete-button {
    background-color: var(--playful-bg-color);
    color: var(--playful-red-color);
    border: none;
    padding: 5px 5px;
    margin-right: 10px; /* Anchor delete button to the right */
    cursor: pointer;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: var(--playful-blue-color);
    color: var(--playful-bg-color);
}

.playlist-item .delete-button {
    display: none; /* Hide delete button by default */
}

.playlist-item.selected .delete-button {
    display: inline-block; /* Show delete button when playlist item is selected */
}